
button {
  width: auto;
  background-color: #4CAF50;
  color: white;
  padding: 5px 3px;
  margin: 3px 0;
  border: none;
  border-radius: 1px;
  cursor: pointer;
}
input[type=text]{
  width:auto;	
  padding: 8px;	
  margin: 5px 0 12px 0;	
  display: inline-block;	
  border: none;	
  background: #f1f1f1;	
  background-color: #ddd;	
  outline: none;	
}
.menu{
  width:100%;
  background-color:#FAFAFA;
  margin-bottom:1px;
  border:1px solid grey;


}
textarea {
    background: url(http://i.imgur.com/2cOaJ.png);
    background-attachment: local;
    background-repeat: no-repeat;
    padding-left: 35px;
    margin-right:1px;
    padding-top: 5px;
    width:100%;
    border-color:#ccc;
}
button:active {
    background-color: rgb(0, 81, 125);
}

button:hover {
    opacity: 0.7;
}
